<!--<form class="form" (ngSubmit)="onSubmit()">-->
<form (ngSubmit)="onSubmit()" class="form">

  <div class="input-container">

    <div>
      <label for="firstName">
        First Name
      </label>
      <input [(ngModel)]="customer.firstName" id="firstName" name="firstName" type="text">
    </div>

    <div>
      <label for="lastName">
        Last Name
      </label>
      <input [(ngModel)]="customer.lastName" id="lastName" name="lastName" type="text">
    </div>

    <div>
      <label for="address">
        Address
      </label>
      <input [(ngModel)]="customer.address" id="address" name="address" type="text">
    </div>

    <div>
      <label for="postal_code">
        Postal Code
      </label>
      <input [(ngModel)]="customer.postal_code" id="postal_code" name="postal_code" type="text">
    </div>

    <div>
      <label for="phone">
        Phone Number
      </label>
      <input [(ngModel)]="customer.phone" id="phone" name="phone" type="text">
    </div>

    <button class="button-31" type="submit">Back</button>

  </div>

</form>
